html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 18px;
}

main {
    padding: 10px;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 25px;
    }
    .left-ornament {
        display: none;
    }
    .right-ornament {
        display: none;
    }
}

@media screen and (min-width: 501px) {
    .left-ornament {
        display: inline-block;
        font-weight: normal;
        font-family: sans-serif;
        transform: scale(1, -1);
        margin-right: 5px;
    }
    .right-ornament {
        display: inline-block;
        font-weight: normal;
        transform: scale(-1, -1);
        margin-left: 5px;
    }
}
.post-list a{
    text-decoration: none;
    color: black;
}

.post-list li {
    padding: 20px;
    background-color: #D3D3D3;
    margin: 1px;
}

.post-list li:hover {
    background-color: #C0C0C0;
}

.post-list li:active {
    background-color: #D0D0D0;
}

/**
* Top Header.
*/
.top-header {
    
    background-color: #A23E48;
    background: -webkit-linear-gradient(right, #A23E48, #FF8C42); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #A23E48, #FF8C42); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #A23E48, #FF8C42); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #A23E48, #FF8C42);
    color: white;
    padding: 15px 0;
    width: 100%;
    font-size: 125%;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 22px
}

.top-header-link {
    padding: 10px 20px 10px 20px;
    list-style-type: none;
    color: white;
}

.top-header-link:hover {
    text-decoration: underline;
}

.top-header-link a {
    color: white;
    text-decoration: none;
}


code .black {
    color: black;
}


.post-summary {
    margin: 45px 0;
}

.post-summary h3 {
    font-weight: bold;
}

.center-message {
    margin: auto;
    max-width: 490px;
}

.center {
    text-align: center;
}

.btn {
    font-family: Helvetica, sans-serif;
}

.btn-block {
    background-color: #7ea8cc;
    border-color: #2e6da4;
    color: white;
}

.btn-block:hover {
    background-color: #699fce;
    border-color: #2e6da4;
}

.btn-block:visited{
    color: white;
}

.logo_site{
    font-size: 50px;
    padding: 20px;
}

.page-content {
    padding-bottom: 0;
}


.thumbnail {
    float: left;
    padding: 0;
    margin-bottom: 3px;
    margin-right: 10px;
    border-width: 3px;
    border-color: #337ab7;
}


