html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #ABD336;
    font-family: Nunito, Helvetica, sans-serif;
    min-height: calc(100% - 50px);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


/*
Palette
    http://paletton.com/#uid=12-0u0kpit0fCDWkIvqt1opvJjo
    http://paletton.com/#uid=12j0C0knRrXeqDOjAuYrMnKuUiU (thème 2)
*/

#container {
    position: sticky;
}

main {
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px grey;
    margin: 10px auto;
    max-width: 500px;
}

.card-text {
    padding: 20px;
}

.card-title {
    padding-bottom: 10px;
    font-size: x-large;
}

.card-infotext {}

.card-question {
    font-weight: bold;
    margin-top: 10px;
}

.card-actions {
    padding: 10px;
    margin-top: -5px;
    text-align: center;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-around;
}

#question-card {
    display: none;
}

#result-card {
    display: none;
}

#result-card .card-infotext {
    text-align:justify;
}


#label {
    font-weight: bold;
}
